* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 6rem;
  font-family: monospace;
}

body h1 {
  text-align: center;
  margin-bottom: 2rem;
}

body h2 {
  margin-bottom: 2rem;
}

body ul {
  margin-bottom: 2rem;
}
